@use './styles/body';

@use '@material/theme' with (
  $primary: #6200ee,
  $secondary: #faab1a,
  $background: #fff,
);

@use './styles/mdc';
@use './styles/all';
@use './styles/layout';

// Angular MDC
@use '~@angular-mdc/theme/material';

// highlight.js for examples
@use '~highlight.js/scss/github';
